# Builds Projetos
/Projetos/desenvolvimento-basico/build
/Projetos/collections-streams/build
/Projetos/desenvolvimento-avancado/build
/Projetos/modular/build

#Builds Desafios
/Desafios/praticando-java/build

/.idea

*.so
*.class
