# Builds Projetos
/Projetos/desenvolvimento-basico/build
/Projetos/collections-streams/build
/Projetos/desenvolvimento-avancado/build
/Projetos/modular/build
/Projetos/springboot/build
/Projetos/testes-unitarios/buid
/Projetos/jdbc-jpa/build

#Builds Desafios
/Desafios/praticando-java/build

/.idea

*.so
*.class
